<div class="vote-up-down">
    <div>
        <a href="{{ url[0] }}" id="vote_up"><i class="fa fa-arrow-up"></i></a>
        <a href="{{ url[1] }}" id="vote_up"><i class="fa fa-arrow-down"></i></a>
    </div>
    <br>
    <a href="{{ url[2] }}"><small>Reset</small></a>
</div>